*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

nav{
    width:100%;
    background-color: plum;
    height: 75px;
    line-height: 75px;
    padding: 0px 120px;
}
nav h1{
    font-size: 32px;
    font-family: sans-serif;
    color: black;
    text-transform: uppercase;
    float: left;
}
nav ul{
    float:right;
}
nav ul li {
    float: left;
    list-style: none;
    position:relative;
}
nav ul li a{
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    font-family: 17px;
    padding: 0px 16px;
    display: block;
}
nav ul li a:hover{
    background-color: white;
}
nav ul li ul{
    position: absolute;
    display: none;
    background-color: plum;
    border-radius: 0px 0px 5px 5px;
}
nav ul li:hover ul{
    display:block;
}
nav ul li ul li{
    line-height: 1;
    width: 190px;
    border-radius: 5px;
    padding: 6px;
}
nav ul li ul li a{
    padding: 10px 16px;
}
nav ul li ul li a:hover{
    background-color: white;
}